<style>
    body {
    background-color: whitesmoke;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    color: white;
}
h1 {
    color: white;
}
#burgerpic {
    width: 400px;
    height: 400px;
    padding: 20px;
}

#order-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}


}
.order-row {
    justify-content: center;
    text-align: center;
}

#burger-div {
    display: flex;
    overflow: hidden;
    text-align: center;
}

#new-burger {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#eaten {
    color: grey;
    padding: 5px;
}

.heading {
    display: flex;
    justify-content: center;
    color: rgb(128, 79, 0);
}

</style>


    <div class="row" id="order-div">
        <div class="col">
            <div class="row order-row">
                <h2>Place an order:</h2>
                  
            </div>
             <img id="burgerpic" src="../public/assets/img/burger giant.png" alt="Burger"  height="80" width="80">
            <div class="row order-row">
                <form id="addburger" class="create-form">

                <div class="form-group">
                    <label for="bgr"></label>
                    <input type="text" class="form-control" id="burger-name" name="name" placeholder="Burger Name">
                </div>
                <button type="submit" class="btn btn-success">Submit Order</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row" id="devoured-burgers">

        <div class="col">
            <div class="row heading">
                <h2>Ready to Eat!</h2>
            </div>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        <div class="card">
                            <p id="new-burger">{{id}}. {{burger_name}}
                            <button type="button" class="btn btn-success devour-status" data-id="{{id}}" data-newDevour="true">Devour it!</button>
                            </p>
                        </div> 
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col">
            <div class="row heading">
                <h2>Burgers Eaten!</h2>
            </div>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        <div class="card">
                            <p id="eaten">{{id}}. {{burger_name}}</p>
                        </div> 
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>


<script>
    // Obtain user input and update database
    $("#addburger").on("submit", function(event) {
        console.log("Order submitted")
        event.preventDefault();
        
        var burger_name = $("#burger-name").val().trim();
        if (burger_name === "") {
            alert("Please enter a burger name!")
        } else {
            var newBurger = {
                burger_name: $("#burger-name").val().trim(),
            }
            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(
                function() {
                    console.log("Added a new burger");
                    location.reload();
                }
            );
        }
    });
    // on click of button with .devour-status, change devour status to eaten
    $(".devour-status").on("click", function(event) {
        var id = $(this).data("id");
        var newDevour = $(this).attr("data-newDevour");
        var newDevourStatus = {
            devoured: newDevour
        };
        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: newDevourStatus
        }).then(
            function() {
                console.log("Burger devoured!");
                location.reload();
            }
        );
    });
</script>